body {
	background: #474e5d;
}

.navbar {
	border-bottom: 1px solid red;
}
#container {
  margin: auto;
	position: relative;
	border:2px solid black;
}

.square {
  background-color:lightgray;
  float:left;
}

a {
	cursor: pointer;
}

#drawing {
	margin-top: 50%;
	margin-left: 10px;
	background: orange;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

@media (max-width: 768px) {
	#drawing {
		margin-top: 0;
  }
}

.awesome {
	margin-left: 15px;
	margin-top: 8px;
	background: #555;
	color: #444;
}

.sp-dd {
	color: #9d9d9d;
}

.color {
	margin-top: -2px;
}

.help-handle {
	position: absolute;
  top: 50%;
  margin-top: -20px;
	margin-left: 10px;
  padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
  cursor: pointer;
	display: block;
	width: 24px;
	height: 32px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .39);
	color: #eee;
	text-align: center;
}

.glyphicon {
	
}

.help {
	position: absolute;
	top: 25%;
	left: -25px;
	margin-top: 20px;
	padding: 10px;
	padding-top: 50px;
	width: 0;
	height:50%;
	z-index: 1;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;	
	color: white;
}

.help .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#dialog {
	display: none;
}
